/* start variabels */
:root{
    --main-color: #19c8fa;
    --transpatent-color:rgba(12, 102, 128, 0.801);
    --sectionMargin : 5% 0 ;
}
/* end variabels */


/*START  GLOBALE ROALS */ 

*{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: rgb(49, 46, 46); */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
min-height: 92px;

}

/* small */
@media (min-width:768px) {

    .container{
     width: 750px;
    }

}

/* medium */
@media (min-width:992px) {

    .container{
    width: 970px;
    }

}

/* large */
@media (min-width:1200px) {

    .container{
    width: 1170px;
    }

}

/*END  GLOBALE ROALS */


/* start header */

header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after{
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: white;
    bottom: 0;
    left: 15px;
}

header .container .logo img  {
    height: 40px;
}

header .container nav {
        flex: 1 ;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}




/* proooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooppp */
/* @media (max-width:767px) {

    header .container nav ul{
        display: none;
    }

} */
/* proooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooppp */



header .container nav ul{
    display: flex;
}

@media (max-width:767px) {

    header .container::after{
    /* height: 0;
    color: unset; */
    /* top: 20%; */
    bottom:20%;
    }

    header .container nav ul{
    display: none;  
    }

 header nav .toogooicon:hover + ul {
display: flex;
/* justify-content: center;
align-items: center; */
flex-direction: column;
position: absolute;
left: 0;
top: 80%;
width: 100%;
background-color: black;
opacity: .5;
/* border: none; */

 }

 header nav .toogooicon:hover + ul a {
     padding: 17px;
 }

 

}    /* end media */


header .container nav ul li a{ 
    display: block; 
    padding: 36px 11px;
     color: white; 
     font-size: 14px;
     position: relative;
     z-index: 2;
    transition:all .4s  ease;
     -webkit-transition:all .4s  ease;
      -moz-transition:all .4s  ease;
       -ms-transition:all .4s  ease;
        -o-transition:all .4s  ease;
}

header .container nav ul li a:hover ,
header .container nav ul li a.home_nav{
color: var(--main-color);
border-bottom: 1px solid var(--main-color);
}

header .container nav .searchicon {
     color: white;
     font-size: 20px;
     /*padding: 36px 11px 36px 50px;
     *//*padding-left: 16px;
     */position: absolute;
     right: 0;
     top: 50px;
     transform: translateY(-50px);
     -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
     -ms-transform: translateY(-50px);
     -o-transform: translateY(-50px);
     padding: 4px 0 0 10px;
}
header .container nav .search {
    /* vertical lign */

   /* background-color: white;
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    right: 34px;
    top: 44px; */
    border-left: 1px solid white;
    height: 30px;
    width: 38px;
    margin-left: 22px;
    position: relative;

}

header  nav .toogooicon {
    color: white;
    font-size: 17px;
    }  
    

@media (min-width:768px) {


  header nav .toogooicon{
        display: none;
        } 

}


/* end header */



/* start landing */

.landing{
    min-height:100vh;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay{
    background-color: #1b2122bb;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing .text{
    background-color: #307388b2;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    color: aliceblue;
    padding: 5% 1% ;
}


.landing .text .content{
    width: 70%;
    max-width: 500px;
}

@media (max-width:767px) {

    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
    
.landing .changBackG{
    display: none;
}
    
}

.landing .text .content h2{
    line-height: 1.5;
    padding: 2% 0;
}

.landing .text .content p{
 line-height: 2;
 color: #d4edf5;
 font-size: 11px;
}

.landing .changBackG{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: white;
}

.landing .fa-angle-left {
left: 2%;
}

.landing .fa-angle-right {
right: 2%;
}

.landing .bull{
      position: absolute;
      width: 6%;
      bottom:4%;
      right: 50%;
      transform:translateX(50%) ;
      -webkit-transform:translateX(50%) ;
      -moz-transform:translateX(50%) ;
      -ms-transform:translateX(50%) ;
      -o-transform:translateX(50%) ;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
     
}
.landing .bull li{
    border: 2px solid white;
    height: 18px;
    width: 18px;
    list-style: none;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    margin: 2%;
     
}
.landing .bull .actv{
background-color: #d4edf5;
}



/* end landing */





/* ===================== */
/* start componant 1 h */

/* .mainHeadingFixd{
    text-align: center;
    padding: 2%;
    }
    
    .mainHeadingFixd h1{
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    margin-bottom: 4%;
    }
    
    .mainHeadingFixd h1::before{
         content: "";
         position: absolute;
         left: 50%;
         transform:translateX(-50%);
         bottom: -20px;
         height: 4px;
         width: 88px;
        border-bottom: 2px solid black;
         -webkit-transform:translateX(-50%);
         -moz-transform:translateX(-50%);
         -ms-transform:translateX(-50%);
         -o-transform:translateX(-50%);
    }
    
    .mainHeadingFixd h1::after{
         content: "";
         position: absolute;
         left: 50%;
         transform:translateX(-50%);
         bottom: -26px;
         height: 11px;
         width: 11px;
         background-color: white;
         border:2px solid black;
         border-radius:50% ;
    }
    
    .mainHeadingFixd p{
    width: 50%;
    margin: 5% auto;
    max-width: 100%;
     line-height: 2;
    color: #777;
        
    } */
    
    /* end componant 1 h */

/* ==================== */




/* start componant 1 serv */

.mainHeadingFixd{
text-align: center;
padding: 2%;
}

.mainHeadingFixd h1{
text-transform: uppercase;
font-weight: normal;
position: relative;
/* margin-bottom: 4%; */
margin: 3% 0;
font-size: 36px;
}

.mainHeadingFixd h1::before{
     content: "";
     position: absolute;
     left: 50%;
     transform:translateX(-50%);
     bottom: -20px;
     height: 4px;
     width: 88px;
     /*color: black;
     */border-bottom: 2px solid black;
     -webkit-transform:translateX(-50%);
     -moz-transform:translateX(-50%);
     -ms-transform:translateX(-50%);
     -o-transform:translateX(-50%);
     /* padding-bottom: 2%; */
}

.mainHeadingFixd h1::after{
     content: "";
     position: absolute;
     left: 50%;
     transform:translateX(-50%);
     bottom: -26px;
     height: 11px;
     width: 11px;
     background-color: white;
     border:2px solid black;
     border-radius:50% ;
}

.mainHeadingFixd p{
width: 50%;
/* left: 50%;
transform:translateX(-50%); */
margin: 4% auto;
padding: 2% 0;
max-width: 100%;
/* عشان في الموب ميطلعش برا المسافه بتاعته */
line-height: 2;
color: #777;
font-size: 17px;
    
}


/* --------------------------------------- */
.servises{
    margin: var(--sectionMargin);
}
.servises .servContainer{
/* text-align: center; */
}

/* الشاشة كبيرة الي بعد 768 */
@media (min-width:768px) {
  
    .servises .servContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
        grid-column-gap:22px;
        grid-row-gap:44px;
    }

}

.servises .servContainer .servBox{
 margin:0 0 4% 0;   
 display: flex;
}

.servises .servContainer .servBox i{
    margin-right: 4%;
    margin-bottom: 2%;
}

/* شاشات الجوال */
@media (max-width:767px) {
    
    .servises .servContainer .servBox{
     flex-direction: column;
     text-align: center;
     margin-bottom: 8%;
    }   

    
}

.servises .servContainer .servBox h2{
    color: #19c8fa;
    margin-bottom: 7%;
}

.servises .servContainer .servBox p{
   color: #777; 
   line-height: 2;

}



/* end componant 1 serv */



/* ------ start desgn -------*/

.desgn{
height: 85vh;
margin:var(--sectionMargin);
position: relative;
background-image: url(../img/9.jpg);
background-size: cover;
overflow: hidden;
display: flex;
align-items: center;
}
.desgn::after{
    content: "";
    position: absolute;
    background-color: #37454793;
     left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.desgn .phonimg {
flex: 1;
position: relative;
z-index: 2;
 /* width: 22%; */
 text-align: center;
 bottom: -22%;

 } 
 @media (max-width:767px) {
    .desgn .phonimg {
          display: none;
      } 
 }
.desgn .phonimg img {
/* width: 100%; */
position: relative;
/* bottom: -8%; */
}
.desgn .text{
    flex: 1;
    z-index: 2;
    position: relative;
    right: 0;
    /* top: 50%; */
    background-color: rgba(19, 97, 126, 0.863);
    padding: 3% ;
    color: white;
    /* width: 55%;   */
    /* transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%); */
}
.desgn .text h2{
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 4%;
    text-transform: uppercase;
}
.desgn .text li{
    padding: 2% 0;
    font-size: 17px;
}
.desgn .text li i{
    padding: 0 3% 0 0;
 }

 /* .desgn .text li::before{
     content: '\f108';
     position: relative;
     top: 1px;
     font-family: "Font Awsome 5 free";
     font-weight: 900;
     margin-right: 3%;
 } */





/* ------ end desgn ------ */



/* ------ start portofol ------ */

.portofol{
 margin: var(--sectionMargin);
 /* display: flex; */
text-align: center; 
}

.portofol .shufl{
display:flex;
justify-content: center;
align-items: center;
flex-direction: row;
/* gap: 1%; */
}
.portofol .shufl li{
    padding: 1%;
}
.portofol .shufl .activ{
    background-color: #19c8fa;
    color: white;
    font-weight: bold;
}

.portofol .imgescontener{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 1%; */
    flex-basis: 100%;
    margin: 3% 0;
}
.portofol .imgescontener .imgbox{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* gap: 1%; */
    max-width: 350px;
    max-height: 350px;   
    /* flex-basis: 25%; */
    /* margin: 2% 0; */
    position: relative;
    overflow: hidden;
}
/* from mobile and obove */
@media (min-width:768px) {
    
    .portofol .imgescontener .imgbox{        
        flex-basis: 50%;  
    }
}
@media (min-width:1199px) {
    .portofol .imgescontener .imgbox{        
        flex-basis: 25%;  
    }
    
}
.portofol .imgescontener .imgbox img{
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.portofol .imgescontener .imgbox .caption{
  background-color: white;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  bottom:-100%;
  width: 100%;
  padding: 2% 0;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.portofol .imgescontener .imgbox:hover .caption{
bottom: 0;
}
.portofol .imgescontener .imgbox:hover img{
    transform: rotate(2deg)  scale(1.1);
    -webkit-transform: rotate(2deg)  scale(1.1);
    -moz-transform: rotate(2deg)  scale(1.1);
    -ms-transform: rotate(2deg)  scale(1.1);
    -o-transform: rotate(2deg)  scale(1.1);
}

.portofol .imgescontener .imgbox .caption h4{
    font-size: 16px;
    color: #777;
    padding: 2% 0;
}
.portofol .imgescontener .imgbox .caption p{
   color: var(--main-color); 
   font-size: 14px;
}

.portofol button{
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
    padding: 1%;
    text-align: center;
    border: none;
    margin: 5%;
    cursor: pointer;
}




/* ------ end portofol ------ */


/* ----- start vedio  -----*/

.vedio{
    position: relative;
    margin: var(--sectionMargin);
}
.vedio video{
    background-color: #777;
    width: 100%;
    height: 85vh;
}
.vedio .text{
     position: absolute;
     top: 50%;
     background-color: rgba(29, 111, 141, 0.76);
     width: 100%;
     color: white;
     padding: 3%;
     text-align: center;
     transform:translateY(-50%) ;
     -webkit-transform:translateY(-50%) ;
     -moz-transform:translateY(-50%) ;
     -ms-transform:translateY(-50%) ;
     -o-transform:translateY(-50%) ;
}
.vedio .text h2{
    text-transform: uppercase;
    padding:0 0 2% 0 ;
}
 
.vedio .text button{
    text-transform:uppercase;
    background-color:black;
    color: white;
    text-transform: capitalize;
    padding: 1% 2%;
    text-align: center;
    border: none;
    margin-top: 2%; 
    cursor: pointer; 
}

/* ----- end vedio ----- */


/*------ start about ------*/

.about{
/* margin: var(--sectionMargin); */
margin-top: 5%;
/* height: 100vh; */

overflow: hidden;

/* position: relative; */

text-align: center;
}

.about img{

       /* display: flex;
       align-items: center;
       justify-content: center; */

       max-width: 100%;
       position: relative;
       bottom:-150px;
       margin-top:-150px;

       /* transform:translateX(50%) ;
       -webkit-transform:translateX(50%) ;
       -moz-transform:translateX(50%) ;
       -ms-transform:translateX(50%) ;
       -o-transform:translateX(50%) ; */
}
/* mobile */
@media (max-width:767px) {
    .about img{
        bottom:-75px;
        margin-top:-75px;
 }
}


/* ------end about------ */


/* start stats */

.stats{
      /*margin: var(--sectionMargin);*/
      margin-bottom: 5%;
      /*background-image: url(../img/14.jpg);*/
      /*background-image: url(../img/17.jpg);
      */background-image: url(../img/19.jpg);
      /*background-image: url(../img/12.jpg); */
      /*background-position: 50% 30%;*/
      background-repeat: no-repeat;
      background-position:50% 65%;
      /* filter:grayscale(90%); */
      background-size: cover;
      backdrop-filter: 90%;
      text-align: center;
      padding: 7%;
}


.stats .container {
display: flex;
align-items: center;
justify-content: center;
position: relative;
flex-wrap: wrap;
/* padding: 50px; */
/* margin: 1% auto; */
}
.stats .container .statsbox{
padding: 50px ;
background-color:var(--transpatent-color);
color: white;
}
/* mobile */
@media (max-width:767px) {

    .stats .container .statsbox {
       flex-basis: 100%;
        }  
}
/* bigger than mob */
@media (min-width:768px) {
    .stats .container .statsbox {
        flex-basis: 50%;
         }   
}
@media (min-width:992px) {

    .stats .container .statsbox {
        flex-basis: 25%;
         }    
}
.stats .container .statsbox i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  /* font-size: 1.2rem; */
  padding: 12px ;
  /* background-color: rgba(15, 182, 228, 0.959); */
  background-color: black;
  border-radius:50% ;
  -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  /* margin-bottom:18px; */
  /* to put it in the middel impoooooooooooooooooooo */
  margin:0 auto 22px auto;
}
.stats .container .statsbox .num{
    font-size: 1.5rem;  
    padding: 12px 0;
   font-weight: bold;
}
.stats .container .statsbox p { 
    /* padding: 15px 0; */
}


/* end stats */




/* start skills */

.skills{
    margin: var(--sectionMargin);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* big screens desktpo */
@media (min-width:992px) {
  /* > direct chiled */
.skills .container > div{
    width: 45%;
    }  
}

.skills .container >div {
    /* text-align: center; */
}
.skills .container >div > h2 {
    margin: 3% 0;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
 }
.skills .container >div > p {
   margin-bottom: 3%;
   line-height: 2;
   color: #777;
   text-align: center;
}

.skills .container .testimon{

}

.skills .container .testimon .testmonbox{
   display: flex;
   margin: 5% auto; 
   align-items: center;
}
.skills .container .testimon .testmonbox .text{
    padding: 3% 1%; 
    border-bottom: 2px solid rgb(189, 187, 187);
}
.skills .container .testimon .testmonbox .text p{
  text-align: right;
  color: #777;
  margin-bottom: 2%;
  padding: 3%;
}
.skills .container .testimon .testmonbox img{
 width: 100px;
 height: 100px;
 margin-right: 5%;
 border-radius: 50%;
}
/* mob */
@media (max-width:767px) {
 
    .skills .container .testimon .testmonbox{
    flex-direction: column;
    text-align: center;
    }
    .skills .container .testimon .testmonbox img{
        margin: 2% auto;
    }

}

.skills .container .testimon .bull{
display: flex;
align-items: center;
justify-content: center;
align-items: center;
}
.skills .container .testimon .bull li{
        list-style: none;
        /* background-color: #19c8fa; */
        width: 16px;
        height: 16px;
        border: 2px solid #777;
        margin: 5px;
        border-radius:50% ;
        -webkit-border-radius:50% ;
        -moz-border-radius:50% ;
        -ms-border-radius:50% ;
        -o-border-radius:50% ;
}
.skills .container .testimon .bull .actv{
background-color: #19c8fa;
border: none;
}
.ourskill .porg-holder{
margin: 8% 0 ;
}
.ourskill .porg-holder h4{
text-transform: uppercase;
color: #777;
margin: 3% 0;
}
.ourskill .porg-holder .prof {
background-color: #777;
margin: 2% 0;
height: 22px;
}
.ourskill .porg-holder .prof span{
background-color: #19c8fa;
display: block;
height:100%;
position: relative;
/* width: 11px; */
/* z-index: 2; */
}
.ourskill .porg-holder .prof span::after{
    content: attr(data-progress);
    position: absolute;
    padding: 4px 7px;
    background-color: black;
    color: white;
    right: -19px;
    top: -36px;
    border-radius: 11px;
    font-size: 12px;
}
.ourskill .porg-holder .prof span::before{
content: "";
position: absolute;
right: -8px;
top: -14px;
border-style: solid;
border-width: 7px;
border-color: black transparent transparent;
}

/* end skills */


/* start recoat */

.recoat{
margin: var(--sectionMargin);
color: white;
background-image: url(../img/quote.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 5%;
text-align: center;
position: relative;
}

.recoat::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
    height: 100%;
}
.recoat .container{
    position: relative;
}
.recoat .container p {
font-size: 33px;
line-height:1.1;
/* padding: 2% 0; */
margin: 2% 0;
display: block;
}
.recoat .container p::after {
    /* content: '\f10d'; */
    content: close-quote ;
    /* position: absolute;
    top: 0;
    right: 0; */
    /* font-family: "Font Awsome"; */
}
.recoat .container p::before {
    content: '\f10d';
    /* font-family: "Font Awsome"; */
    content: open-quote ;
    /* position: absolute; */
}



/* end recoat */



/* start pricing */

.pricing{
margin: var(--sectionMargin);
/* display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center; */
}
.pricing .container{
    text-align: center;
}
.pricing .mainHeadingFixd p{
    font-size: 17px !important;
}
/* :not(.mainHeadingFixd p) */
.pricing .container p{
padding: 2%;
font-size: 19px;
color: rgb(63, 60, 60);
}
.pricing .container button{
padding: 1.5% 3%;
border: none;
background-color: #19c8fa;
color: white;
margin-bottom: 2%;
}

.pricing .container .plans{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 25%; */
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap:30px;
    margin: 4% 0;
}
.pricing .container .plans .pricingbox {
    background-color: rgb(240, 240, 240);
/* padding: 4%; */
/* margin: 1%; */
/* width: 20%; */
}
.pricing  .plans .pricingbox .numbox{
border-bottom: 1px solid var(--main-color);
border-top:1px solid var(--main-color) ;
padding: 5% 0;
text-align: center;
position: relative;

}
.pricing  .plans .pricingbox .numbox span{
/* position: absolute; */
text-align: center;
font-size: 22px;
display:block;
}
.pricing  .plans .pricingbox .numbox small{
    position: absolute;
    top: 40px;
    left: 55px;
    font-size: 22px;
}
.pricing  .plans .pricingbox .numbox h2{
    text-align: center;

    /* position: relative; */
    font-size: 44px;
    display: inline-block;
    padding: 4% 0;
}
.pricing  .plans .pricingbox .numbox .mo{
    display: inline-block;
}
.pricing .plans .pricingbox ul{
    padding: 4% 0;
}
.pricing .plans .pricingbox ul li{
    padding:8% 0;
    border-bottom: 1px solid var(--main-color);
    width: 50%;
    margin: auto;
}
.pricing .plans .pricingbox ul li:nth-last-child(1){
    width: 100%;
}

/* :not(:last-child) */

.pricing .pricingbox button{
cursor: pointer;
border: 2px solid var(--main-color);
background-color: transparent;
color:purple;
padding: 20px ;
margin: 8% 0;
/* width: fit-content; */
}

/* ---------------------------------------------------------------------------- */

.pricing .pricisubscripbox{
    margin: var(--sectionMargin);
    height:40vh;
    width: 100%;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    background-image: url(../img/18.jpg);
    background-size: cover;
    /* filter:grayscale(50%) ;
    -webkit-filter:grayscale(50%) ; */
}
.pricing .pricisubscripbox::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color:rgba(37, 42, 44, 0.5);
}
/* .pricing .container .pricisubscripbox img{
width: 100%;
height: 88vh;
} */
.pricing  .pricisubscripbox .container{
display: flex;
align-items: center;
justify-content:space-between;
color: white;
/* width:88%; */
/* margin: 3%; */
/* position: relative; */
}
/* screens after mop */
@media (max-width:991px) {

    .pricing  .pricisubscripbox .container{
        flex-direction: column;
    } 
    
}
/* form{
    display: flex;
    width: 500px;
    min-width:100%;
position:relative;
}
input[type= "email"]{
padding:20px;
border:1px solid;
}
*/

.pricing .pricisubscripbox .inputsubs{
position: relative;
width: 50%;
/* left: 0; */
border: 2px solid white;
color: white;
height: 60px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
margin-right: 4%;
}
.pricing .pricisubscripbox .inputsubs i{
      text-align: center;
      transform:translateY(100%) ;
      font-size: 19px;
      padding: 0 11px 0 25px;
      -webkit-transform:translateY(100%) ;
      -moz-transform:translateY(100%) ;
      -ms-transform:translateY(100%) ;
      -o-transform:translateY(100%) ;
}

.pricing  .pricisubscripbox .inputsubs input{
    /* width:calc(100% - 130px); */
    caret-color: #19c8fa;
background-color: transparent;
border: none;
height: 100%;
width: 70%;
padding: 0 2%;
color: white;
outline: none;
cursor: var(--main-color);
}
.pricing  .pricisubscripbox .inputsubs input::placeholder{
 color: white;
}
.pricing  .pricisubscripbox .inputsubs button{
    /* width: 130px; */
padding: 1% 2%;
background-color: #19c8fa;
border: none;
font-size: 15px;
text-transform: uppercase;
width: 30%;
height: 100%;
}
.pricing .pricisubscripbox .inputp p {
font-size: 17px;
line-height:2;
color: white;
position: relative;
/* right: 0; */
/* width: 100%; */
text-align: left
}
/* mob */
@media (max-width:767px) {

    .pricing  .pricisubscripbox .container{
       flex-direction: row;
       flex-wrap: wrap;
        flex-basis: 100%;
        }

        .pricing  .pricisubscripbox .inputsubs{
          width: 100%;
          margin-bottom: 5%;
            }

            .pricing .pricisubscripbox .inputp {
                width: 100%;
                }

}


/* end pricing */



/* start contact */

.contact{
   
}
.contact .mainHeadingFixd{
margin-bottom:0;
padding-bottom: 0;
}
.contact .container{
    /* display: flex;
    justify-content: space-around; */
    /* flex-direction: column; */
/* margin-bottom: 0; */
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
.contact form{
display: flex;
/* padding: 2%; */
/* justify-content: center; */
/* align-items: center; */
flex-direction: column;
/* width:calc(100% - 28%); */
flex-basis: 70%;
}
/* .contact input:focus{
    outline: none;
} */
.contact input ,.contact form textarea {
   border: 1px solid lightgray;
   padding: 2%;
   margin: 2% 0;
   outline: none;
   caret-color: var(--main-color);
   color: #19c8fa;  
   width: 100%;  
}
.contact input::placeholder ,.contact form textarea::placeholder {
   text-transform: capitalize;
 }
.contact input[type="submit"]{
width:unset;
/* justify-content: right; */
 border: none;
 background-color: #19c8fa;
 color: white;
 padding: 2.8% 0;
 text-transform: uppercase;
 cursor: pointer
}
.contact .smallrightbox{
    /* width:20%; */
    flex-basis: 20%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-top: 0;
   padding-top: 0;
   justify-content:flex-start;
}
.contact .smallrightbox h4{
   margin-bottom: 18%;
   font-size: 20px;
   font-weight: normal;
   margin-top: 0;
   padding-top: 0;
}
.contact .smallrightbox li{
color: #777;
font-size: 17px;
line-height:2;
letter-spacing: 1.1px;
}
.contact .smallrightbox .up{
margin: 8% 0 33% 0;
}
@media (max-width:767px) {
  
    .contact .content{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex-direction: column;
    }
    .contact .container{
        width: 100%;
        flex-basis: 100%;
    }
    .contact form{
        flex-wrap: wrap;
       width: 100%;
       flex-basis: 100%;
       order: 2;
       margin-bottom:11%;
        }
        .contact form input , .contact form textarea {
            width: 100%;
        }
        .contact .smallrightbox{
            order: 1;
            /* order:-1; */
            flex-basis: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 11% ;
        }
        .contact .smallrightbox .up{
            margin:4%;
            padding: 1%;
            }
            .contact .smallrightbox h4{
                margin-bottom: 14%;
            }
    
}

/* end conract */


/* start footer */

footer{
    margin: var(--sectionMargin);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 3%;
    margin-bottom: 0;
}
footer::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
}
.footerbox{
position: relative;
color: white;
}
.footerbox img{
    margin-bottom: 22%;
}
.footerbox ul{
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 22%;
margin-top: 8%;
padding: 4%;
}
.footerbox i{
    font-size: 17px;
}
.footerbox h4{
padding:4% 1% 10% 1%;
margin: 2% 0;
font-size: 22px;
/* width: fit-content; */
text-align: center;
font-weight: normal;
text-transform: uppercase;
border-bottom: 1px solid white;
}
.footerbox a{
color: #19c8fa;
}

/* end footer */

